<div class="container">
  <div style=" text-align: center;">
    <h1>Fi-Things</h1>
      <li style="list-style-type: none">
        <a href="http://localhost:4200/cuenta" style="text-decoration: none;">Cuentas</a> <a style="padding: 15px;"></a>
        <a href="http://localhost:4200/objeto" style="text-decoration: none;">Objetos</a> <a style="padding: 15px;"></a>
        <a href="http://localhost:4200/reporte" style="text-decoration: none;">Reportes</a> <a style="padding: 15px;"></a>
        <a href="http://localhost:4200/distrito" style="text-decoration: none;">distritos</a> <a style="padding: 15px;"></a>
        <a href="http://localhost:4200/categoria" style="text-decoration: none;">categoria</a> <a style="padding: 15px;"></a>

      </li>
      
  </div>
  <app-cuenta></app-cuenta>
